/* Start Main Rulez */
body{
    background-color: #888;
}

.container {
    width: 1000px;
    margin: auto;
}

/* End Main Rulez */
/* Start header */

.header .slider {
    background-color: #eee;
    height: 420px;
}
.header .navbar {
    background-color: #252F31;
    color: #fff;
    overflow: hidden;
}
.header .navbar h2 {
    float: left;
}
.header .navbar h2 span {
    color: #2ecc71;
}
.header .navbar ul {
    list-style: none;
    padding-left: 0;
    overflow: hidden;
    float: right;
}
.header .navbar ul li {
    float: left;
    padding: 10px;
}
/* End header */